<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>域名与IP对应关系图</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/font.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .table-responsive{
            height: 506px;
        }
    </style>
</head>
<body >
<div class="container-fluid" id="example" v-cloak>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="search clearfix">
                <div class="form-inline pull-left searchItems">
                    <div class="form-group">
                        <label >域名:</label>
                        <input type="text" @keyup="cartView(1)" v-model="domainName" class="form-control"  placeholder="请输入关键字">
                    </div>
                    <button type="button" @click="cartView(1)" class="btn btn-primary">确认</button>
                </div>
                <div class="searchEdit pull-right">
                    <ul class="clearfix">
                        <li class="pull-right" @click="addPop">
                            <span class="icon-icon-sy12 active">新建</span>
                        </li>
                        <li class="pull-right fileParent">
                            <span class="icon-icon-sy14 active">导入</span>
                            <input type="file" name="excelFile" class="file" @change="importFile" id="excelFile">
                        </li>
                        <li class="pull-right" @click="editPop()">
                            <span class="icon-icon-sy8" :class="{active: selected.length==1}">编辑</span>
                        </li>
                        <li class="pull-right"  @click="sharePop()">
                            <span class="icon-icon-sy14" :class="{active: selected.length>0}">分享</span>
                        </li>
                        <li class="pull-right" @click="deleteList">
                            <span class="icon-icon-sy7" :class="{active: selected.length>0}">删除</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tableContainer">
                <div class="table-responsive">
                    <table class="table" style="position: relative">
                        <thead>
                            <tr>
                                <th style="width:5%">
                                    <div  class="item-check-btn" :class="{'check':checkAll}"  @click="isAll()">
                                        <span class="fa fa-check ok"></span>
                                    </div>
                                </th>
                                <th style="width:6%">编号</th>
                                <th style="width:30%">域名</th>
                                <th style="width:20%;">状态</th>
                                <th >IP地址信息</th>
                            </tr>
                        </thead>
                        <tbody >
                        <tr v-for="(item,index) in list">
                            <td>
                                <div  class="item-check-btn" :class="{'check':item.checked}" @click="selectedList(item)" >
                                    <span class="fa fa-check ok"></span>
                                </div>
                            </td>
                            <td>{{index+1}}</td>
                            <td @click="ipIndex=index" :class="{bule:ipIndex==index}" :title="item.domainName" style="cursor: pointer">
                                <i v-if="item.property==1" class="icon-icon-sy5" style="display: inline-block;width: 15px"></i>
                                <span :class="{marginLitter:item.property!=1}">{{item.domainName}}</span>
                            </td>
                            <td>
                                <span v-if="item.state==2">已分享</span>
                            </td>
                            <td >
                                <div class="ipShow" style="display: none;bottom: 0;left:61%;border-left: 1px solid #E7E7E7" :class="{'show':ipIndex==index}">
                                    <ul>
                                        <li v-for="list in item.ipStr.split(',')">{{list}}</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page clearfix" >
                    <div class="pageCut">
                        每页
                        <select name="" class="form-control pageSelect" v-model="pageSize" @change="jumpPage(1)">
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                        </select>
                        条记录
                    </div>
                    <div class="pagelist" >
                        <!--<span class="jump" :class="{disabled:pstart}" @click="{current_page&#45;&#45;}"><</span>-->
                        <span v-show="current_page>5" class="jump" @click="jumpPage(1)">首页</span>
                        <span class="ellipsis" v-show="efont">...</span>
                        <span class="jump" v-for="num in indexs" :class="{bgprimary:current_page==num}"
                              @click="jumpPage(num)">{{num}}</span>
                        <span class="ellipsis" v-show="ebehind">...</span>

                        <!--<span :class="{disabled:pend}" @click="{current_page++}" class="jump">></span>-->
                        <span v-show="current_page<pages-4" class="jump" @click="jumpPage(pages)">尾页</span>

                        <span class="jumppoint">跳转到：</span>
                        <span class="jumpinp"><input type="text" v-model="changePage" @keyup.enter="jumpPage(changePage)"></span>
                        <span class="jump gobtn" @click="jumpPage(changePage)" >GO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹框-->
    <div id="edit" style="display: none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bold">域名:</label>
                        <input type="text" class="form-control" v-model="editList.domainName" placeholder="在此输入内容...">
                    </div>
                </div>
            </div>
            <div class="row"   v-for="(item,index) in editList.ipStr" :key="index">
                <div class="col-md-8" style="padding-right: 10px">
                    <div class="form-group">
                        <label  class="bold">IP:</label>
                        <input type="text" class="form-control"  v-model="editList.ipStr[index]"   placeholder="在此输入内容...">
                    </div>
                </div>
                <div class="col-md-2" style="padding-left: 0;padding-right: 0;margin-top: 17px">
                    <div class="addBtn" style="color: #ED8202" @click="editList.ipStr.push('')">
                        <i class="fa fa-plus" aria-hidden="true"></i>新增
                    </div>
                </div>
                <div class="col-md-2" v-if="index!=0" style="padding-left: 0;padding-right: 0;margin-top: 17px">
                    <div class="addBtn"  @click="editList.ipStr.splice(index,1)">
                        <i class="icon-icon-sy7"></i>删除
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
    <!--新增-->
    <div id="add" style="display: none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bold">域名:</label>
                        <input type="text" class="form-control" v-model="addList.domainName" placeholder="在此输入内容...">
                    </div>
                </div>
            </div>
            <div class="row"  v-for="(item,index) in addList.ipStr" :key="index">
                <div class="col-md-8" style="padding-right: 10px">
                    <div class="form-group">
                        <label  class="bold">IP:</label>
                        <input type="text" class="form-control"  v-model="addList.ipStr[index]"   placeholder="在此输入内容...">
                    </div>
                </div>
                <div class="col-md-2" style="padding-left: 0;padding-right: 0;margin-top: 17px">
                    <div class="addBtn" style="color: #ED8202" @click="addList.ipStr.push('')"><i class="fa fa-plus"></i>新增</div>
                </div>
                <div class="col-md-2" v-if="index!=0" style="padding-left: 0;padding-right: 0;margin-top: 17px">
                    <div class="addBtn"  @click="addList.ipStr.splice(index,1)">
                        <i class="icon-icon-sy7"></i>删除
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/layer/layer.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/ajaxMy.js"></script>
<script src="js/url.js"></script>
<script>
    // 创建根实例
    new Vue({
        el: '#example',
        data: {
            list: [],   //展示数组
            domainName:'', //搜索项目
            current_page: 1, //当前页
            pageSize:12,  //每页数据条数
            pages: 0, //总页数
            changePage:'',//跳转页
            checkAll:false,
            selected:[],    //选中项
            ipIndex:0,
            editList:{
                id:'',
                domainName:'',
                ipStr:[]
            },
            addList:{
                domainName:'',
                ipStr:['']
            },
        },
        mounted: function () {
            var _this = this;
            this.$nextTick(function () {
                _this.cartView(_this.current_page);
            })
        },
        computed:{
            show:function(){
                return this.pages && this.pages !=1
            },
            pstart: function() {
                return this.current_page == 1;
            },
            pend: function() {
                return this.current_page == this.pages;
            },
            efont: function() {
                if (this.pages <= 7) return false;
                return this.current_page > 5
            },
            ebehind: function() {
                if (this.pages <= 7) return false;
                var nowAy = this.indexs;
                return nowAy[nowAy.length - 1] != this.pages;
            },
            indexs: function() {

                var left = 1,
                    right = this.pages,
                    ar = [];
                if (this.pages >= 7) {
                    if (this.current_page > 5 && this.current_page < this.pages - 4) {
                        left = Number(this.current_page) - 3;
                        right = Number(this.current_page) + 3;
                    } else {
                        if (this.current_page <= 5) {
                            left = 1;
                            right = 7;
                        } else {
                            right = this.pages;

                            left = this.pages - 6;
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left);
                    left++;
                }
                return ar;
            }
        },
        methods: {
            cartView: function (cPage) {
                var _this = this;
                var u = url +"knowledge/"+localStorage.getItem('userId')+
                    "/getIPDomainPageData/"+this.current_page+'/'+this.pageSize+'?userName='+localStorage.getItem('userName')+
                    '&domainName='+this.domainName;
                ajaxPost(u,{},function (data) {
                    console.log(data);
                    if(data.resultCode == ERR_OK ){
                        _this.list = data.data.ipDomainList;
                        _this.pages = parseInt(data.data.countPage);
                    }else{
                        layer.alert("数据请求失败");
                    }
                });
            },
            selectedList: function (item) {
                var _this=this;
                if(item.property==1){
                    return
                }
                if (typeof item.checked == "undefined") {
                    // Vue.set(item,"checked",true);
                    this.$set(item, "checked", true);
                } else {
                    item.checked = !item.checked;
                }
                this.isCheckAll();
                //复选框选中项
                _this.selected = [];
                this.list.forEach(function (item) {
                    if(item.checked){
                        _this.selected.push(item);
                    }
                });
            },
            isAll: function () {  //全选
                var _this = this;
                this.checkAll=!this.checkAll;
                _this.list.forEach(function (item) {
                    if(item.property!=1) {  //不是系统自带的
                        if (typeof item.checked == "undefined") {
                            _this.$set(item, "checked", _this.checkAll);
                        } else {
                            item.checked = _this.checkAll;
                        }
                    }
                });
                //复选框选中项
                _this.selected = [];
                this.list.forEach(function (item) {
                    if(item.checked){
                        _this.selected.push(item);
                    }
                });
            },
            isCheckAll: function () {
                var flag = true;
                this.list.forEach(function (item) {
                    if(item.property!=1) {
                        if(!item.checked){
                            flag = false;
                        }
                    }
                })
                if(flag){
                    this.checkAll = true;
                }else{
                    this.checkAll = false;
                }

            },
            jumpPage: function(id) {
                if(id <=this.pages){
                    this.current_page = id;
                    this.cartView(this.current_page);
                }else{
                    layer.alert("超出最大页数")
                }

            },
            deleteList:function () {
                //knowledge/{userId}/deleteIPDomainList?idList=42cc0f5f9a644c1e
                var _this=this;
                var idList = [];
                this.selected.forEach(function (item) {
                    idList.push(item.id);
                });
                if(idList.length>0){
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        ajaxGetArray(url+"knowledge/"+localStorage.getItem('userId')+"/deleteIPDomainList",{idList:idList},function (data) {
                            if(data.resultCode == ERR_OK ){
                                var index=layer.alert("删除成功",function () {
                                    _this.cartView(_this.current_page);
                                    _this.selected = [];
                                    _this.checkAll = false;
                                    layer.close(index);
                                });

                            }else{
                                layer.alert("删除失败");
                            }
                        });
                    }, function(){
                        layer.closeAll();
                    });
                }
            },
            editPop:function () {
                var _this=this;
                if(this.selected.length == 1){
                    this.editList.id = this.selected[0].id;
                    this.editList.domainName = this.selected[0].domainName;
                    this.editList.ipStr = this.selected[0].ipStr.split(',');
                }
                layer.open({
                    type: 1,
                    title: ['编辑'],
                    closeBtn: 1,
                    btn:['确定','取消'],
                    btnAlign: 'c',
                    area: ['450px', '300px'],
                    skin: '', //没有背景色
                    shade: 0,
                    content: $('#edit'),
                    yes:function () {
                        _this.edit(); //没有加验证

                    }
                });
            },
            edit:function () {
                var _this = this;
                //knowledge/{userId}/editeIpDoMainInfo/{id}
                var u = url +"knowledge/"+localStorage.getItem("userId")+"/editeIpDoMainInfo/"+this.editList.id;
                if(!this.editList.domainName){
                    layer.alert('域名不能为空');
                    return
                }
                var ipDomainInfo = {
                    ipStr:this.editList.ipStr.join(','),
                    domainName:this.editList.domainName
                }
                ajaxPostObj(u,JSON.stringify(ipDomainInfo),function (data) {
                    console.log(data);
                    if(data.resultCode == ERR_OK ){
                        layer.alert("修改成功",function () {
                            _this.cartView(_this.current_page);
                            _this.selected = [];
                            layer.closeAll();
                        });
                    }else{
                        layer.alert("数据请求失败");
                    }
                });
            },
            addPop:function () {
                var _this = this;
                //初始化
                this.addList={
                    domainName:'',
                        ipStr:['']
                };
                layer.open({
                    type: 1,
                    title: ['新增'],
                    closeBtn: 1,
                    btn:['确定','取消'],
                    btnAlign: 'c',
                    area: ['450px', '300px'],
                    skin: '', //没有背景色
                    shade: 0,
                    content: $('#add'),
                    yes:function () {
                        _this.add();
                    }
                });
            },
            add:function () {
                var _this = this;
                var u = url +"knowledge/"+localStorage.getItem("userId")+"/addNewIpDoMainInfo?userName="+
                    localStorage.getItem('userName');
                if(!this.addList.domainName){
                    layer.alert('域名不能为空');
                    return
                }
                var ipDomainInfo = {
                    createUserName:localStorage.getItem("userName"),
                    ipStr:this.addList.ipStr.join(','),
                    domainName:this.addList.domainName,
                }
                ajaxPostObj(u,JSON.stringify(ipDomainInfo),function (data) {
                    console.log(data);
                    if(data.resultCode == ERR_OK ){
                        layer.alert("新增成功",function () {
                            _this.cartView(_this.current_page);
                            layer.closeAll();
                        });
                    }else{
                        layer.alert("数据请求失败");
                    }
                });
            },
            importFile:function () {
                var formData = new FormData();
                formData.append('excelFile',$('#excelFile')[0].files[0]);
                //knowledge/{userId}/importIPDomainInfo?userName=lwx
                $.ajax({
                    url: url+'knowledge/'+localStorage.getItem('userId')+'/importIPDomainInfo?userName='+localStorage.getItem('userName'),
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(res) {
                    layer.alert(res.message);
                }).fail(function(res) {
                    layer.alert('导入失败');
                });
            },
            sharePop:function () {
                ///knowledge/{userId}/sharedIPDomainList?idList=120bd837d8c54599%2Cf2df83789ff34be9
                var _this=this;
                var idList = [];
                this.selected.forEach(function (item) {
                    idList.push(item.id);
                });
                console.log(this.selected)
                if(this.selected.length > 0){
                    ajaxGetArray(url+"knowledge/"+localStorage.getItem('userId')+"/sharedIPDomainList",
                        {idList:idList},function (data) {
                            //console.log(data);
                            if(data.resultCode == ERR_OK ){
                                layer.alert("分享成功");
                            }else{
                                layer.alert("删除失败");
                            }
                        });
                }
            }
        }

    })
</script>
</html>