<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>重置密码</title>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <style>
        .dlk-cz{
            width: 570px;
        }
        .dlk-cz label{
            width: 435px;
        }
    </style>
</head>

<body>
<div class="box" id="box">
    <div class="mulu">
        <h1><img src="image/login-logo.png"></h1>
    </div>
    <div class="ztbf">
        <div class="dlk-cz">
            <h2>重置密码</h2>
            <label>
                <span>邮箱：</span>
                <input type="text" v-model="mailAddress" placeholder="请输入注册或绑定的邮箱" @blur="vailEmail($event.target,mailAddress)">
                <i></i>
            </label>
            <label>
                <span>验证码：</span>
                <input v-model="code" type="text" class="youx" @blur="valiCode($event.target)" placeholder="请输入邮箱验证码">
                <input type="button" class="yanzm" name="发送验证码" value="发送验证码" @click="sendMailCoder($event.target)">
                <i></i>
            </label>
            <label>
                <span>密码：</span><input v-model="pwd" type="password" placeholder="请输入新密码">
            </label>
            <label>
                <span>确认密码：</span><input v-model="newPassword" @blur="valiPwd($event.target)" type="password" placeholder="请再输入一遍新密码">
                <i></i>
            </label>
            <label>
                <input type="button" @click="modifyPassword" class="chongzhimm" name="重置密码" value="重置密码">
            </label>
            <label class="fhsy"> <a href="login.html"><span>>></span>返回登录页</a></label>
        </div>
    </div>
    <div class="fotwz">
        南京信安融慧网络技术有限公司 © 2011～2018 版权所有
    </div>
</div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/ajaxMy.js"></script>
<script src="js/layer/layer.min.js"></script>
<script src="js/url.js"></script>
<script src="js/vue.js"></script>
<script>
    $(function () {
        //页面加载时的高度
        var h = $(window).height();
        $(".box").css("height", h);
        var w = $(window).width();
        $(".box").css("width", w);

        var h2 = (h - 130);
        $(".ztbf").css("height", h2);

        //刷新页面加载的高度
        $(window).resize(function () {
            var h = $(window).height();
            $(".box").css("height", h);
            var w = $(window).width();
            $(".box").css("width", w);
            var h2 = (h - 130);
            $(".ztbf").css("height", h2);
        })
    })
</script>
<script>
    new Vue({
        el: '#box',
        data: {
            mailAddress: '',
            newPassword: '',
            pwd: '',
            code: '',
            codeVali:undefined,
            validate:{
                mailAddress: false,
                newPassword: false,
                code: false
            }
        },
        methods: {
            vailEmail: function (dom, email) {
                //http://localhost:8080/streamplatserver/modifyPassword?mailAddress=1206398226%40qq.com&newPassword=123456
                var span = $(dom).next();
                if (/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/.test(email)) {
                    this.validate.mailAddress = true;
                    this.valiWays(span, "", true);
                } else {
                    this.validate.mailAddress = false;
                    this.valiWays(span, "邮箱格式错误", false);
                }

            },
            valiWays: function (span, str, flag) {
                span.html(str);
                if (flag) {
                    span.parent().removeClass('error')
                } else { //增加error
                    span.parent().addClass('error')
                }

            },
            sendMailCoder:function (dom) {
                var _this = this;
                this.codeVali = '';
                var u = url +"sendMailCoder?mailAddress="+this.mailAddress;
                if(this.validate.mailAddress){
                    ajaxGet(u,function (data) {
                        console.log(data);
                        if(data.resultCode == ERR_OK ){
                            _this.codeVali = data.data
                        }else{
                            layer.alert("数据请求失败");
                        }
                    });
                }
            },
            valiCode:function (dom) {
                var span = $(dom).next().next();
                console.log(span)
                if(this.codeVali == this.code){
                    this.validate.code = true;
                    this.valiWays(span, "", true);
                }else{
                    this.validate.code = false;
                    this.valiWays(span, "验证码错误", false);
                }
            },
            valiPwd:function (dom) {
                var span = $(dom).next();
                if(this.newPassword == this.pwd){
                    this.validate.newPassword = true;
                    this.valiWays(span, "", true);
                }else{
                    this.validate.newPassword = false;
                    this.valiWays(span, "密码输入不一致", false);
                }
            },
            modifyPassword:function () {
                //http://localhost:8080/streamplatserver/modifyPassword?mailAddress=1206398226%40qq.com&newPassword=123456
                var _this = this;
                var u = url +'modifyPassword/?mailAddress='+this.mailAddress+
                    '&newPassword='+this.newPassword;
                if(this.validate.mailAddress&&this.validate.newPassword&&this.validate.code){
                    ajaxPost(u,{},function (data) {
                        console.log(data);
                        if(data.resultCode == ERR_OK ){
                            layer.alert("重置成功");
                            self.location = "login.html";
                        }else{
                            layer.alert("数据请求失败");
                        }
                    });
                }
            }
        }
    })
</script>